<% include ../partials/header.ejs %>
<h1><%= vehicle.name %></h1>
<img src="<%= vehicle.img %>">
<p><a class="btn btn-success" href="/vehicles/<%= vehicle._id %>/comments/new">Add a New Comment</a></p>
<p><%= vehicle.description %></p>

<% vehicle.comments.forEach(function(comment) { %>
  <p>
    <strong><%= comment.author %></strong> - <%= comment.text %>
  </p>
<% }) %>

<% include ../partials/footer.ejs %>
