<% include ../partials/header.ejs %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <p class="lead">Cartopia</p>
      <div class="list-group">
        <li class="list-group-item active">Info 1</li>
        <li class="list-group-item">Info 2</li>
        <li class="list-group-item">Info 3</li>
      </div>
    </div>

    <div class="col-md-9">
      <div class="img-thumbnail">
        <img class="img-responsive" src="<%= vehicle.img %>">
        <div class="caption-full">
          <h4 class="float-right">$95 / HOUR</h4>
          <h4><%= vehicle.name %></h4>
          <p><%= vehicle.description %></p>
        </div>
      </div>

      <div class="card card-body bg-light">
        <div class="row" id="review">
          <% vehicle.comments.forEach(function(comment) { %>
            <div class="col-md-2">
              <strong><%= comment.author %></strong>
              <div>10 Days Ago</div>
            </div>
            <div class="col-md-10">
              <%= comment.text %>
            </div>
          <% }) %>
        </div>
        <div class="ml-auto"><p><a class="btn btn-success" href="/vehicles/<%= vehicle._id %>/comments/new">Add a New Comment</a></p></div>
      </div>
    </div>
  </div>
</div>

<!-- <% vehicle.comments.forEach(function(comment) { %>
  <p>
    <strong><%= comment.author %></strong> - <%= comment.text %>
  </p>
<% }) %> -->

<% include ../partials/footer.ejs %>
